<div class="row"> 
	<div class="col-md-3 mt-2">
  		<input type="radio" name="rad1" (click)= "showHIde= true"> True
  		<input type="radio" name="rad1" (click)= "showHIde= false"> False
	</div>
	<div class="col-md-12" *appCustomStructural="showHIde">Structural Directive with if condition !</div>
	<div class="col-md-12">
	<ng-template [appCustomStructural]="!showHIde">
		   <div>
		      <b>Message not Available.</b>
		  </div>
	</ng-template>
	</div>
<div class="col-md-12 mt-2 mb-2"><app-in-built-directives> </app-in-built-directives>	
</div>


	<!-- <div class="col-md-12 mt-2 mb-2">
		<h4>For Loop Directive</h4>
			<ul>
			 <li *appCustomStructural="5" >
			     Hello Yogesh Salunke !
			 </li> 
			</ul> 
	</div> -->
</div>