<div class="row">
	<div class="col-md-6">	
		<h4>Submit Your Vote Vote</h4>
		<div *ngFor="let voter of voterList">
			<div class="mb-2 ml-5"> <b>{{voter}}</b></div>
			<div class="row">
				<div class="col-md-3"> 
			    	<button (click)="vote(true)">Agree</button>
			    </div>
			    <div class="col-md-3"> 
			    	<button (click)="vote(false)">Disagree</button>
			    </div>
			</div>
		</div>
	</div>
    <div class="col-md-6"> 
    </div>
</div>
<br><br>
<div>Below is Admin Child Component rendering  @Input Data !</div>
<div class="row">
	<div class="col"> Parent - Admin Message 1 : <b>{{msg1}}</b> </div>
	<div class="col"> Parent - Admin Message 2 :  <b>{{msg2}}</b></div>
	<div class="col"> Parent - Admin Message 3 :  <b>{{AtalMsg}}</b></div>
</div>
