<div class="userForm">
<div class="row">
	<div class="col-md-12 text-center mt-3 mb-2"><h4>User Registration Form </h4></div>
</div>	
<form [formGroup]="userRegistrn" (ngSubmit)="onUserSubmit(userRegistrn)">

		<!-- Professional Degree : <input  #dg type="text" formControlName="degree" 
								[ngModel]="degree" (ngModelChange) = "checkDegree($event)"> -->
	<div class="form-row mb-3">
		<div class="col">	
			<label for="fist">First Name:</label>
      		<input type="text" class="form-control" formControlName="fName" id="first" placeholder="First Name">		
		</div>
		<div class="col">	
			<label for="last">Last Name:</label>
      		<input type="text" class="form-control" formControlName="lName" id="last" placeholder="Last Name">		
		</div>
	</div>
	<div class="form-row">
		<div class="col-md-3">
    		<label>Present Address:</label>
    	</div>
    	<div class="col-md-9 mb-3" formGroupName="address">
    		<div class="form-row">
    			<div class="form-group col-md-4">
		    		<label for="strt">Street:</label>
		      		<input type="text" class="form-control" formControlName="street" id="strt" placeholder="enter street">
	    		</div>
	    		<div class="form-group col-md-4">
		    		<label for="cty">City:</label>
		      		<input type="text" class="form-control" formControlName="city" id="cty" placeholder="enter city">
	    		</div>
	    		<div class="form-group col-md-4">
		    		<label for="state">State:</label>
		      		<input type="text" class="form-control" formControlName="state" id="state" placeholder="enter state">
	    		</div>
	    		<div class="form-group col-md-4">
		    		<label for="zip">Zip Code:</label>
		      		<input type="text" class="form-control" formControlName="zip" id="zip" placeholder="enter zip">
	    		</div>
    		</div>
    	</div>
	</div>
	<div class="form-row">
		<div class="col text-center">
			<button type="submit" class="btn btn-primary" [disabled]="userRegistrn.invalid">Submit</button>
		</div>
	</div>
</form>
</div>
<div class="row">
<app-user-child [childAddress]=childAddress></app-user-child>
</div>
